html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}


article {
  width: 250px;
  height: 400px;
  display: flex;
  flex-flow: column;
  background-color: #DBD2B2;
  clip-path: polygon(15% 0, 85% 0, 100% 10%, 100% 100%, 0 100%, 0 10%);
  padding: 1rem 20px;

}

.upper {
    width: auto;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
  }
.ttop .punch-hole {
    height: 72px;
    width: 72px;
    background-color: #906B39;
    border-radius: 100px;
    display: flex;
    box-shadow: 2px 2px 2px rgba(0,0,0, .85);
    margin: auto;
  }

  .ttop .punch-hole:before {
    content: "";
    width: 32px;
    height: 32px;
    background-color: #062B60;
    border-radius: 100px;
    display: inline-block;
    margin: auto;
    box-shadow: 2px 2px 4px rgba(255, 255, 255, .5);
  }
.trow {
  display: flex;
  align-items: center;
  position: relative;
}

.ttop {
  margin-bottom: 2rem;
}


.th3 {
  margin-top: 5px;
  font-family: 'Squada One', cursive;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #343E6F;
  width: 100%;
}

.box {
  border-top: 2px solid #35281C;
  border-bottom: 2px solid #35281C;
  height: 80px;
  flex: 1 1 50%;
}

.th2 {
  margin-top: 5px;
  font-family: 'Squada One', cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #343E6F;
  width: 100%;
  font-size: 2.75rem;
  text-align: center;
}

.th1 {
  margin-top: -40px;
  font-family: 'Squada One', cursive;
  text-transform: uppercase;
  letter-spacing: -6px;
  color: #343E6F;
  width: 100%;
  font-size: 15rem;
  text-align: center;
}

.center {
  display: flex;
}

.numbers {
  font-family: 'Rozha One', serif;
  color: #7B1E17;
  font-size: 2rem;
  position: relative;
  margin: auto;
}
